@font-face {
	font-family: 'myfont';
	src: url('fonts/Helvetica-Normal.ttf') format('ttf');
}

h1, h2, h3, h4, h5, h6, p, img, ul, li, body {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'myfont', tahoma;
}


/*****************The top area**************/

#top {
	background: #405D9A;
	overflow: hidden;
	border-bottom: 1px solid #0E385F;
	padding: 5px 0;
}

#top_container {
	width: 73%;
	margin: 0 auto;
}

#left {
	float: left;
	overflow: hidden;
	margin-top: 23px;
}

#right {
	float: right;
	overflow: hidden;
	padding: 0 0 0 5px;
	box-sizing: border-box;
}

#email {
	float: left;
	overflow: hidden;
}

#password {
	float: left;
	overflow: hidden;
}

#login {
	float: left;
	overflow: hidden;
}

#email label, input,
#password label, input {
	display: block;
}

#password a {
	text-decoration: none;
	color: #9CB4D8;
	display: block;
	font-size: 13px;
	margin-top: 3px;
}

#password a:hover {
	text-decoration: underline;
}

#email, 
#password {
	margin-right: 15px;
}

#email label, 
#password label {
	color: white;
	font-size: 13px;
	margin: 10px 0 5px 0;
}

#email input,
#password input {
	border: 1px solid #1D2A5B;
	padding: 3px;
}

#login input {
	border: 1px solid #29487D;
	border-radius: 1px;
	background: #4267B2;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	margin-top: 30px;
	cursor: pointer;
}

#login input:hover {
	background: #365899;
}

#top_container::after {
	content: ".";
	clear: both;
	visibility: hidden;
}



/*********************Middle area styling*********************/

#middle {
	background: linear-gradient(#FFFFFF,#D3D8E8);
	overflow: hidden;
}

#middle_container {
	width: 73%;
	margin: 0 auto;
	overflow: hidden;
}

/*****************Dividing the middle area in 2 parts***********/

#mid_left {
	width: 50%;
	float: left;
	overflow: hidden;
	margin-right: 7%;
}

#mid_right {
	width: 43%;
	float: left;
	overflow: hidden;
}

#mid_right p {
	padding: 0 0 10px 0;
}

/************Mid area starts***********/

#mid_left h3 {
	color: #0E385F;
	margin-top: 45px;
}

#mid_left img {
	width: 100%;
}

/********Mid right starts**************/

#top_mid_right h1 {
	color: #333333;
	padding: 20px 0 10px 0;
}

#top_mid_right p {
	color: #1D2136;
	padding: 0 0 25px 0;
}

/****************First 4 text inputs starting from First name to password starts from here************/

#text_input input {
	box-sizing: border-box;
}

#text_input input[name="first_name"],
#text_input input[name="surname"] {
	width: 49%;
	float: left;
	overflow: hidden;
	margin-right: 2%;
}

#text_input input[name="surname"] {
	margin-right: 0;
}

#text_input input {
	padding: 10px 8px;
	background: #FFFFFF;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	margin-bottom: 2%;
}

#text_input input[name="email"],
#text_input input[name="password"] {
	width: 100%;
}

/*Birthday text*/

#bday {
	margin-top: 33px;
	font-size: 20px;
	color: #1D2129;
	line-height: 0;
}


/**************Date input**************/

#date_input {
	margin-bottom: 30px;
}

#day,
#month,
#year,
#reason {
	float: left;
	overflow: hidden;
}

#date_input select {
	border: 1px solid #BDC7D8;
	padding: 6px 15px 6px 4px;
	margin-top: 8px;
}

#reason {
	width: 160px;
	margin: 0 0 0 10px;
}

#reason a {
	color: #365899;
	font-size: 11px;
	/*font-family: tahoma;*/
	text-decoration: none;
}


/**************Radio input***************/

#radio_input {
	clear: both;
	margin-top: 55px;
	padding: 0 0 0 5px;
}

#radio_input input,
#radio_input label {
	float: left;
	overflow: hidden;
}

#radio_input input {
	margin-right: 8px;
}

#radio_input label {
	margin-top: 4px;
	margin-right: 15px;
	color: #1D2129;
	font-size: 18px;
}

#radio_input label:last-child {
	margin-right: 0;
}

/****************Term and conditions***************/

#term {
	clear: both;
	width: 65%;
	margin-top: 95px;
}

#term p {
	color: #777777;
	font-size: 10px;
	line-height: 1.5;
}

#term a {
	color: #365899;
	text-decoration: none;
	font-size: 10px;
}

#term a:hover {
	text-decoration: underline;
}



/*************Submit button*****************/

#submit_input {
	clear: both;
	margin-top: 15px;
}


#submit_input input {
	background: linear-gradient(#67AD55,#578843);
	border: 1px solid #3B6E22;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	padding: 6px 67px;
	box-shadow: inset 0 1px 1px #97D87C;
}


/***********************Horizontal line*********************/

hr {
	background-color: #DDDFE2;
	/*height: .5px;*/
	opacity: .1;
	margin-top: 20px;
}


/**************Create page section********************/

#create_page {
	margin-top: 15px;
}
#create_page p {
	color: #666666;
	font-weight: bold;
	font-size: 12px;
}

#create_page a {
	text-decoration: none;
	color: #365899;
}

#create_page a:hover {
	text-decoration: underline;
}















/*******************Responsive top part*********************/

@media screen and (max-width: 850px) {
	#top_container {
		width: 95%;
		margin: 0 auto;
	}

	#middle_container {
		width: 95%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 660px) {
	#left {
		float: none;
		margin-top: 0;
		text-align: center;
	}

	#right {
		float: none;
		width: 410px;
		margin: 0 auto;
	}

	/*Middle part*/

	#mid_left {
		width: 100%;
		float: none;
		margin-right: 0;
	}

	#mid_right {
		width: 100%;
		float: none;
	}

	#top_mid_right h1,
	#top_mid_right p {
		text-align: center;
	}
	

}

@media screen and (max-width: 430px) {
	#email,
	#password,
	#login {
		float: none;
	}

	#right {
		width: 165px;
		margin: 0 auto;
	}

	#login input {
		margin-top: 10px;
	}

	/*Middle area*/

	#text_input input[name="first_name"],
	#text_input input[name="surname"] {
		width: 100%;
		float: none;
		margin-right: 0;
	}

	/*Submit*/

	#submit_input input {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}
}

